<div class="container mt-5">
<button class="btn btn-outline-primary" (click)="get500Error()">Test 500 Error</button>
<button class="btn btn-outline-warning" (click)="get400Error()">Test 400 Error</button>
<button class="btn btn-outline-danger" (click)="get404Error()">Test 404 Error</button>
<button class="btn btn-outline-info" (click)="get400ValidationError()">Test 400 Validation Error</button>
<div class="row mt-5" *ngIf="validationErrors">
<ul class="text-danger">
    <li *ngFor="let error of validationErrors">
{{error}}
    </li>
</ul>
</div>
</div>